@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  text-transform: uppercase;
  font-family: 'Original Surfer', cursive;
}

h1 {
  margin: 2rem;
  font-size: 1.5rem;
}

h1, h3 {
  color: #e00065;
}

.board {
  border: 0.5rem solid #ff006e;
  background: #ffbe0b;
  border-radius: 1rem;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-bottom: 2rem;
}

.squares {
  background: #ffbe0b;
  border: 0.5rem solid #ff006e;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
}

.hidden {
  display: none;
}

.bacon {
  background-image: url(./images/bacon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.eggs {
  background-image: url(./images/egg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.restart {
  padding: 0.7rem;
  margin: 2rem auto;
  border: 0.2rem solid #ffbe0b;
  box-shadow: 1px 3px 3px #b80050;
  border-radius: 5000px;
  background: #ff006e;
  color: #ffbe0b;
  text-transform: uppercase;
  font-weight: 700;
}

.restart:hover {
  background: #ffbe0b;
  box-shadow: 1px 3px 3px #3d001b;
  border: 0.2rem solid #ff006e;
  color: #ff006e;
}