* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
}

.board {
  border: 0.5rem solid #ff006e;
  background: #ffbe0b;
  border-radius: 1rem;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  /* grid-gap: 1rem;  */
}

.squares {
  background: #ffbe0b;
  border: 0.5rem solid #ff006e;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
}

.bacon {
  background-image: url(./images/bacon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.eggs {
  background-image: url(./images/egg.png);
  background-size: contain;
  background-repeat: no-repeat;
}